<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: #f1f1bc;
            color: black;
            text-align: center;
        }
        .containerHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <title>Procesamiento de Imágenes Médicas</title>
</head>
<body class="container">
    <div class="containerHeader">
        <h1>Procesamiento de Imágenes Médicas con Filtros y Detección de Bordes</h1>
        <p>Se muestran: Original, Ruido Gaussiano, Ruido Speckle, Blur, Mediana, y Detección de Bordes</p>
    </div>

    <div id="video-container">
        <!-- Esta imagen se actualizará dinámicamente con AJAX -->
        <h1>Selecciona una imagen médica</h1>
        <ul>
            {% for image_file in image_files %}
                <li><a href="{{ url_for('video_stream', image_file=image_file) }}">{{ image_file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
